/* .rbc-time-view .rbc-row {
    min-height: 0px;
}

.rbc-time-view .rbc-row div:nth-child(1) {
    height: 0px !important;
} */

/* .rbc-time-header > .rbc-row:nth-of-type(2) {
    display: none !important;
} */
/* 
#root > div:nth-child(2) > div.makeStyles-content-11 > div:nth-child(2) > div.makeStyles-root-1 > div > div > div:nth-child(2) > div > div.rbc-time-view > div.rbc-time-header > div.rbc-time-header-content > div.rbc-allday-cell > div.rbc-row-content > div > div:nth-child(1){
    display: none;
}

#root > div:nth-child(2) > div.makeStyles-content-11 > div:nth-child(2) > div.makeStyles-root-1 > div > div > div:nth-child(2) > div > div.rbc-time-view > div.rbc-time-header > div.rbc-time-header-content > div.rbc-allday-cell > div.rbc-row-content > div > div:nth-child(2) {
    display: none;
} */

div.rbc-time-header-content > div.rbc-row.rbc-time-header-cell > div.rbc-header.rbc-today {
    background-color: rgb(121, 134, 203);
}

.rbc-current-time-indicator {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    height: 1px;
    background-color: red;
    pointer-events: none;
}
/* .rbc-current-time-indicator:before {
    content: '';
    display: inherit;
    position:absolute;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #ea4335;
    z-index: 3;
    transform: translate(-10px, -6.5px);
} */

.rbc-header + .rbc-header {
    border-left: none;
}

div.rbc-time-header-content > div.rbc-row.rbc-time-header-cell > div.rbc-header > a > span {
    color:black
}

/* div.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button.Mui-selected {
    background: #f9f9f9;
} */

#root > div:nth-child(3) > div > div > div:nth-child(2) > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-sm-8 > div > div.rbc-time-view.rbc-time-view-resources > div.rbc-time-header > div.rbc-label.rbc-time-header-gutter{
    background-color: transparent;
}

div.order-list-item.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
    padding:0;
}

div.rbc-allday-cell {
    display:none;
}

.rbc-header {
    overflow: hidden;
    flex: 1 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 3px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 90%;
    min-height: 0;
    border-bottom: none;
}

.draggable {
    cursor: pointer;
}

.MuiListItem-gutters {
    padding-left: 0px; 
    padding-right: 0px;
}

div.rbc-time-content > div.rbc-time-gutter.rbc-time-column {
    background-color: inherit;
}

.draggable {
    width: 200px;
    height: 30px;
  }

div.rbc-toolbar {
    padding: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.rbc-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    font-size: 16px;
}

/* div.rbc-time-header > div.rbc-label.rbc-time-header-gutter {
    background-color: inherit;
} */

div.rbc-toolbar > span > button {
    color: white;
    background-color: grey;
    font-weight: 500;
    outline: none;
}

.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active, .rbc-toolbar button.rbc-active:focus {
    color:black
}

#root > div:nth-child(2) > div > div > div:nth-child(2) > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-sm-8 > div > div.rbc-time-view.rbc-time-view-resources > div.rbc-time-header > div.rbc-label.rbc-time-header-gutter {
    background:transparent;
}

.rbc-time-view {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    width: 100%;
    border: none;
    min-height: 0;
}

div.rbc-time-content {
    display: flex;
    flex: 1 0;
    align-items: flex-start;
    width: 100%;
    border-top: none;
    overflow-y: auto;
    position: relative;
}

div.rbc-toolbar > span.rbc-toolbar-label {
    background-color:grey;
    height:100%;
    padding:5px 10px;
    flex-grow: 0;
    font-weight: 900;
    border-radius: 4px;
    color:white;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

  .dragging {
    background: transparent;
    color: transparent;
  }
  
/* 
@keyframes drag_style {
    0% {
      background-color: white;
      color: white;
    }
    100% {
      background-color: #d691b4;
      color:"white"
    }
  } */