.ribbon {
    height: 188px;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: white;
  }
  .ribbon1 {
    position: absolute;
    top: -6.1px;
    right: 10px;
  }
  .ribbon1:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    border-top: 10px solid #F8463F;
  }
  .ribbon1 span {
    position: relative;
    display: block;
    text-align: center;
    background: #F8463F;
    font-size: 14px;
    line-height: 1;
    padding: 12px 8px 10px;
    border-top-right-radius: 8px;
    width: 90px;
  }
  .ribbon1 span:before, .ribbon1 span:after {
    position: absolute;
    content: "";
  }
  .ribbon1 span:before {
   height: 6px;
   width: 6px;
   left: -6px;
   top: 0;
   background: #F8463F;
  }
  .ribbon1 span:after {
   height: 6px;
   width: 8px;
   left: -8px;
   top: 0;
   border-radius: 8px 8px 0 0;
   background: #C02031;
  }